*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Merriweather', serif;
    background-color: #ebf2ff;
}

.navbar{
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #fff;
}

.navbar__brand{
    width: 100px;
}

.navbar__logo{
    width: 100%;
}

.button__primary{
    background-image: linear-gradient(
        to right,
        #ff512f 0%,
        #dd2476 51%,
        #ff512f 100%
    );
    color: #fff;
    border: none;
    padding: 12px;
    border-radius: 5px;
    font-weight: 600;
    padding: 0.5rem 1rem;
    background-size: 200% auto;
    transition: all 1s linear;
}

.button__primary:hover{
    /* background-position: right center; */
    border: 2px solid #ff6767;
    cursor: pointer;
}

.container{
    max-width: 100%;
    padding: 20px;
    margin: 0 auto;
}

.hero__image__container {
    position: relative;
    width: 100%;
}
.hero__image {
    position: absolute;
    width: 100%;
    border-radius: 8px;
    box-shadow: 0 25px 50px -12px rgb(0 0 0 / 25%);
    z-index: 2;
}

.hero__bg__pattern{
    position: absolute;
}

.hero__text{
    font-weight:900;
    font-size: 35px;
    margin: 20px 0;
    color: #1d3557;
}

.food__card__description{
    padding: 15px;
}

.food__card{
    background-color: #F9F9F9;
    border-radius: 8px;
}

.food__card__image__container{
    width: 100%;
}

.food__image{
    border-radius: 8px 8px 0 0;
    width: 100%;
}

.explore__menu__text{
    margin-top: 30px;
    margin-bottom: 20px;
    text-align: center;
    font-weight: 900;
    font-size: 35px;
    color: #1d3557;
}

.food__title{
    font-weight: 900;
}

.food__card__lists__view__more .view__more__text {
    text-align: center;
    font-weight: 400;
    border-radius: 5px;
}

@media (min-width: 768px){
    .navbar{
        justify-content: space-between;
        padding: 10px 30px;
    }
    
    .hero__container{
        margin-top: 20px;
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
    }

    .hero__image {
        margin-top: 30px;
        border-radius: 8px;
        box-shadow: 0 25px 50px -12px rgb(0 0 0 / 25%);
        z-index: 3;
    }

    .explore__menu__lists{
        display: flex;
        gap: 15px;
        margin-top:45px ;
        padding: 0 30px;
    }

    #pizza__card{
        margin-top: -20px;
        margin-bottom: 30px;
    }

    .explore__menu__container{
        position: relative;
        margin-top: 100px;
        padding: 0 0 100px 0;
    }

    .explore__menu__gradient__bg{
        position: absolute;
        top:0;
        left: 0;
        height: 87%;
        width: 100%;
        background-image: linear-gradient(
            to right,
            #ff512f 0%,
            #dd2476 51%,
            #ff512f 100%
        );
        z-index: -3;
        transform: skewY(-5deg);
    }

    .view__more__text {
        background-image: none;
    }
}

@media (min-width: 1024px){
    .container{
        max-width: 70%;
    }

    .navbar__brand{
        width: 150px;
    }

    .button__primary {
        padding: 12px 20px;
        font-size: 20px;
    }

    .hero__description{
        width: 100%;
    }

    .hero__text{
        font-size: 50px;
    }

    .explore__menu__lists{
        gap: 25px;  
    }

    .explore__menu__text{
        font-size: 50px;
    }

    .view__more__text {
        transition: 0.2s;
    }
}